.register__form {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  position: relative;
  flex-direction: column;

  &--error {
    color: #e77e80;
    line-height: 1.5;
    background-color: #9c2b2e;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border: solid 1px #9c2b2e;
  }
  .register__input__block:nth-child(5) {
    margin-top: 15px;
  }

  .register__input__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

    .register__label {
      font-size: 1.5rem;
      font-weight: 400;
    }

    .register__input {
      height: 50px;
      border-radius: 7px;
      overflow: hidden;
      padding: 20px;
      color: #fff;
      line-height: 1.5;
      font-weight: 300;
      font-size: 1.5rem;
      background: linear-gradient(
        109.46deg,
        rgba(201, 201, 201, 0.8) 1.57%,
        rgba(196, 196, 196, 0.1) 100%
      );

      border: 1px solid #00717f;

      &::placeholder {
        color: #c9c9c9;
        font-weight: 200;
        font-size: 1.5rem;
      }
    }

    .input__error {
      color: #e77e80;
      position: absolute;
      top: 80px;
      right: 0;
      text-align: center;
      font-size: 1.3rem;
    }

    &:nth-child(2) .input__error {
      top: 80px;
    }
  }

  .register__btn {
    margin-top: 40px;
    background: #00717f;
    font-size: 1.5rem;
    line-height: 1.2;
    height: 50px;
    border-radius: 7px;
    color: #fff;
    font-weight: 700;
    border: none;
  }

  .signup__navigation {
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.2;
    a {
      font-weight: 600;
    }
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -42px;
    right: -42px;
    width: 118px;
    height: 102px;
    background: #00a9bf80;
    filter: blur(80px);
  }
}
