.login {
  width: 479px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 30px;
  color: #fff;
  min-height: 478px;
  background: linear-gradient(109.46deg, #00717f 1.57%, #001315 100%);
  border: solid 1px #00717f;
  border-radius: 20px;

  &__heading {
    font-weight: 700px;
    font-size: 3rem;
    text-align: center;
  }
}
